.wrapper {
  display: flex;
  justify-content: space-around;
  height: 80vh;
}

.box {
  width: 200px;
  height: 200px;
  background: peru;
  font-size: 50px;
  color: white;
}

.box:nth-child(2) {
  order: -1;
}
